@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

:root{
    --primary-soft: #f3f3f3;
}
.content{
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075) inset;
}
.header{
    position: sticky;
    top:0.2rem;
    z-index: 2000;
}
.user-img{
    width:30px;
    height: 30px;
    border-radius: 50%;
}
.sidebar{

}

.show-sidebar-btn{
    cursor: pointer;
}
.hide-sidebar-btn{
    cursor: pointer;
}
.card{
    border:none;
}
.status-card{
    transition: 0.3s;
}
.status-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.status-card:active{
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
@media screen and (max-width:830px){
    .sidebar{
        position: fixed;
        width: 50%;
        z-index: 2001;
        display: block !important;
        background: white;
        margin-left: -100%;
    }
}